nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="/Product") Home 
                li.nav-item
                    a.nav-link(href="/Product/add") Add 
div.container    